// ===== Mixins =====

// Base Transition – use: +transition(all, .3s)
@mixin transition($type, $dur)
  -webkit-transition: $type, $dur ease-in-out
  -moz-transition: $type $dur ease-in-out
  -ms-transition: $type $dur ease-in-out
  -o-transition: $type $dur ease-in-out
  transition: $type $dur ease-in-out


// Box Shadows – use: +shadow(0px, 10px, 20px, 0px, rgba(0, 0, 0, 0.1))
@mixin shadow($horz-length, $vert-length, $blur, $spread, $color)
  -webkit-box-shadow: $horz-length $vert-length $blur $spread $color
  -moz-box-shadow: $horz-length $vert-length $blur $spread $color
  box-shadow: $horz-length $vert-length $blur $spread $color


// --- Media Query Beakpoints ---
// Mobile – use: +mobile
@mixin mobile
  @media (max-width: #{$mob-width})
    @content

// Tablet – use: +tablet
@mixin tablet
  @media (max-width: #{$tablet-width})
    @content

// Desktop – use: +desktop
@mixin desktop
  @media (max-width: #{$desktop-width})
    @content

// 2x – use: +twox
@mixin twox
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    @content

// Custom Minimum Width – use: +customMin(600px)
@mixin customMin($width)
  @media (min-width: #{$width})
    @content

// Custom Maximum Width – use: +customMax(800px)
@mixin customMax($width)
  @media (max-width: #{$width})
    @content
